.resetPasswordForm .authTitle {
    font-size: 27px;
  }
  

.infoPara {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #020c4d;
  }

  .sendCodeForForgetPasswordForm::after{
    border-top: 100px solid #f49a0b;
    border-left: 90px solid transparent;
  }
  

  @media (min-width: 650px) and (max-width: 938px) {
    .authTitle{
      font-size: 26px;
    }
    .sendCodeForForgetPasswordSection {
      width: 70%;
    }
    .sendCodeForForgetPasswordSection .sendCodeForForgetPasswordForm {
      width: 70%;
    }
  }

  @media (min-width: 551px) and (max-width: 650px) {
    .sendCodeForForgetPasswordForm .authTitle{
      font-size: 25px;
    }
    
    .sendCodeForForgetPasswordSection {
      width: 90%;
    }
  
    .sendCodeForForgetPasswordSection .sendCodeForForgetPasswordForm input {
      font-size: 14px;
      width: 100%;
    }
    
  }

  @media (min-width: 650px) and (max-width: 800px) {
    .sendCodeForForgetPasswordForm .authTitle{
        font-size: 25px;
      }
    .sendCodeForForgetPasswordForm::after{
      border-top: 90px solid #f49a0b;
      border-left: 80px solid transparent;
    }
    
  }
  


  @media (min-width: 320px) and (max-width: 550px) {
    .sendCodeForForgetPasswordForm .authTitle{
      font-size: 20px;
    }
    .sendCodeForForgetPasswordSection {
      width: 98%;
    }
    .sendCodeForForgetPasswordSection .sendCodeForForgetPasswordForm {
      width: 90%;
    }
    .sendCodeForForgetPasswordSection img {
      width: 30%;
    }
  
    .sendCodeForForgetPasswordSection .sendCodeForForgetPasswordForm input {
      font-size: 13px;
      width: 100%;
    }
  
    .haveAccount {
      font-size: 10px;
    }
    .sendCodeForForgetPasswordSection .sendCodeForForgetPasswordForm .submitBtn {
      width: 100%;
      font-size: 15px;
    }
  .sendCodeForForgetPasswordForm .infoPara{
    font-size: 18px;
  }
  .sendCodeForForgetPasswordForm .emailWord{
    font-size: 20px;

  }

    .sendCodeForForgetPasswordForm::after{
      border-top: 80px solid #f49a0b;
      border-left: 70px solid transparent;
    }
  }
