.resetPasswordSection .resetPasswordForm .authTitle {
  font-size: 27px;
}
.resetPasswordSection .resetPasswordForm .emailWord{
  font-size: 25px;
}

.code {
  background-image: url("/codeIcon.svg");
}

.input-boxPass2 {
    position: relative;
  }
  .eyeIcon2 {
    position: absolute;
    right: 10px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
  }


  .arrowIcon{
    width: 35px;
    
  }



@media (min-width: 650px) and (max-width: 938px) {
    .resetPasswordSection {
      width: 70%;
    }
    .resetPasswordSection .resetPasswordForm {
      width: 70%;
    }
  }

  @media (min-width: 650px) and (max-width: 800px) {
    .resetPasswordForm::after{
      border-top: 100px solid #f49a0b;
      border-left: 90px solid transparent;
    }
    .resetPasswordSection .resetPasswordForm .emailWord{
      font-size: 25px;
  
    }
    
  }
  
  @media (min-width: 551px) and (max-width: 650px) {
    .resetPasswordForm .authTitle{
      font-size: 25px;
    }
    .resetPasswordSection {
      width: 90%;
    }
  
    .resetPasswordSection .resetPasswordForm .emailWord{
      font-size: 20px;
  
    }
    .resetPasswordSection .resetPasswordForm input {
      font-size: 14px;
      width: 100%;
    }
  }


  @media (min-width: 381px) and (max-width: 550px) {
    .resetPasswordSection .resetPasswordForm .authTitle {
      font-size: 21px;
    }
    .resetPasswordSection {
      width: 98%;
    }
    .resetPasswordSection .resetPasswordForm {
      width: 90%;
    }
    .resetPasswordSection img {
      width: 30%;
    }
  
    .resetPasswordSection .resetPasswordForm input {
      font-size: 13px;
      width: 100%;
    }
  
    .resetPasswordSection .resetPasswordForm .submitBtn {
      width: 100%;
      font-size: 15px;
    }

    .resetPasswordForm .infoPara{
      font-size: 18px;
    }
    .resetPasswordSection .resetPasswordForm .emailWord{
      font-size: 20px;
  
    }
  .resetPasswordForm::after{
        border-top: 90px solid #f49a0b;
        border-left: 80px solid transparent;
      }
  .arrowIcon{
    width: 20px;
    
  }
  }


  @media (min-width: 320px) and (max-width:380px) {
    .resetPasswordSection .resetPasswordForm .authTitle {
      font-size: 21px;
    }
    .resetPasswordSection {
        width: 98%;
      }
      .resetPasswordSection .resetPasswordForm {
        width: 90%;
      }
      .resetPasswordSection img {
        width: 30%;
      }
    
      .resetPasswordSection .resetPasswordForm input {
        font-size: 13px;
        width: 100%;
      }
    
      .resetPasswordSection .resetPasswordForm .submitBtn {
        width: 100%;
        font-size: 15px;
      }
  
      .resetPasswordForm .infoPara{
        font-size: 18px;
      }
      .resetPasswordSection .resetPasswordForm .emailWord{
        font-size: 21px;
    
      }
    .resetPasswordForm::after{
          border-top: 80px solid #f49a0b;
          border-left: 70px solid transparent;
        }
    .arrowIcon{
      width: 20px;
      
    }
      
  }

