.forgetPasswordForm .authTitle {
  font-size: 27px;
}

.infoPara {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #020c4d;
}

.emailWord {
  font-size: 30px;
  color: red;
  text-transform: capitalize;
}

.arrowIcon{
    width: 35px;
    
  }
  @media (min-width: 650px) and (max-width: 938px) {
    .authTitle{
      font-size: 25px;
    }
    .forgetPasswordSection {
      width: 70%;
    }
    .forgetPasswordSection .forgetPasswordForm {
      width: 70%;
    }
  }
  
 
  @media (min-width: 649px) and (max-width: 800px) {
    .forgetPasswordForm::after{
      border-top:100px solid #f49a0b;
      border-left: 90px solid transparent;
    }
    
  }

  @media (min-width: 551px) and (max-width: 650px) {
    .forgetPasswordForm .authTitle{
      font-size: 25px;
    }
    
    .forgetPasswordSection {
      width: 90%;
    }
  
    .forgetPasswordSection .forgetPasswordForm input {
      font-size: 14px;
      width: 100%;
    }
  }

    
  @media (min-width: 381px) and (max-width: 550px) {
    .forgetPasswordForm .authTitle{
      font-size: 21px;
    }
    .forgetPasswordSection {
      width: 98%;
    }
    .forgetPasswordSection .forgetPasswordForm {
      width: 90%;
    }
    .forgetPasswordSection img {
      width: 30%;
    }
  
    .forgetPasswordSection .forgetPasswordForm input {
      font-size: 13px;
      width: 100%;
    }
  
    .haveAccount {
      font-size: 10px;
    }
    .forgetPasswordSection .forgetPasswordForm .submitBtn {
      width: 100%;
      font-size: 15px;
    }
  .forgetPasswordForm .infoPara{
    font-size: 18px;
  }
  .forgetPasswordForm .emailWord{
    font-size: 20px;

  }

   .forgetPasswordForm::after
   {
      border-top: 90px solid #f49a0b;
      border-left: 80px solid transparent;
    }
  }


  
  @media (min-width: 320px) and (max-width:380px) {
    .forgetPasswordForm .authTitle{
        font-size: 20px;
      }
    .forgetPasswordSection {
        width: 98%;
      }
      .forgetPasswordSection .forgetPasswordForm {
        width: 90%;
      }
      .forgetPasswordSection img {
        width: 30%;
      }
    
      .forgetPasswordSection .forgetPasswordForm input {
        font-size: 13px;
        width: 100%;
      }
    
      .forgetPasswordSection .forgetPasswordForm .submitBtn {
        width: 100%;
        font-size: 15px;
      }
  
      .forgetPasswordForm .infoPara{
        font-size: 18px;
      }
      .forgetPasswordForm .emailWord{
        font-size: 20px;
    
      }
    .forgetPasswordForm::after{
          border-top: 80px solid #f49a0b;
          border-left: 70px solid transparent;
        }
    .arrowIcon{
      width: 20px;
      
    }
      
  }

